body {
  background-color: #a4ebf3;
}
@font-face {
  font-family: "GangwonEdu_OTFBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
.placeIcon {
  width: 16px;
  height: 16px;
  margin: 2px;
}
#listing {
  float: left;
  margin-left: 1px;
  width: 205px;
  height: 326px;
  overflow: auto;
  cursor: pointer;
  font-family: "GangwonEdu_OTFBoldA";
}
#locationField {
  display: flex;
  justify-content: center;
}
#autocomplete {
  font-family: "GangwonEdu_OTFBoldA";
  width: 500px;
  height: 30px;
}
#map_canvas {
  left: 50%;
  transform: translateX(-50%);
}
#controls {
  font-family: "GangwonEdu_OTFBoldA";
  background-color: #a4ebf3;
  position: relative;
  width: 300px;
  height: 200px;
  left: 437px;
  right: 100px;
} /* top: 84%; left: 35.7%; transform: translate(-50%,-50%); */
#timefont {
  font-family: "GangwonEdu_OTFBoldA";
}
h2 {
  text-align: center;
  font-family: "GangwonEdu_OTFBoldA";
  font-size: 25px;
  text-shadow: 2px 2px #ffffff;
}
h3 {
  text-align: center;
  font-size: 20px;
}

#story {
  font-family: "GangwonEdu_OTFBoldA";
  background-color: white;
  position: absolute;
  top: 100px;
  bottom: 200px;

  width: 600px;
  height: 300px;
  left: 230px;
  right: 600px;
}

#textarea-title {
  position: absolute;
  top: 50px;
  bottom: 200px;

  width: 600px;
  height: 300px;
  left: 230px;
  right: 600px;
}
@font-face {
  font-family: "GangwonEdu_OTFBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
#ad {
  top: 30%;
  left: 35.7%;
  transform: translate(-50%, -50%);
}
h3 {
  margin-left: 0px;
}
